# ignore the folder where are temporary notes
/notes

# ignore node modules
/node_modules

# ignore `package-lock.json`. It is generated when building the container based on `package.json` 
/package-lock.json
