/*! CreamCSS-extra v{{ version }} | MIT License | https://github.com/CalinRadoni/CreamCSS */

.border-b {
  border-bottom: 1px solid var(--c-main);
}

cream-row {
  display: flex;
  width: 100%;
  flex-direction: column;
}

cream-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  padding: 1rem;
  border-radius: var(--border-radius);
}

cream-card[bg-main] {
  background: var(--c-main);
  color: var(--c-on-main);
}
cream-card[bg-main-v] {
  background: var(--c-main-v);
  color: var(--c-on-main-v);
}
cream-card[bg-back] {
  background: var(--c-back);
  color: var(--c-on-back);
}
cream-card[bg-back-c1] {
  background: var(--c-back-c1);
  color: var(--c-on-back);
}
cream-card[bg-back-c2] {
  background: var(--c-back-c2);
  color: var(--c-on-back);
}
cream-card[bg-back-c3] {
  background: var(--c-back-c3);
  color: var(--c-on-back);
}
cream-card[bg-on-back] {
  background: var(--c-on-back);
  color: var(--c-back);
}
cream-card[bg-on-back-v] {
  background: var(--c-on-back-v);
  color: var(--c-back);
}
cream-card[bg-outline] {
  background: var(--c-outline);
  color: var(--c-back);
}
cream-card[bg-outline-v] {
  background: var(--c-outline-v);
  color: var(--c-back);
}

@media screen and (min-width: 34rem) {
  cream-row {
    display: flex;
    width: 100%;
    flex-direction: row;
  }
}
