/*! CreamCSS-extra v{{ version }} | MIT License | https://github.com/CalinRadoni/CreamCSS */

cream-row {
  display: flex;
  width: 100%;
  flex-direction: column;
}

cream-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.bg-outline {
  background: var(--c-outline);
  color: var(--c-back);
}
.bg-outline-dim {
  background: var(--c-outline-dim);
  color: var(--c-txt);
}

@media screen and (min-width: 34rem) {
  cream-row {
    display: flex;
    width: 100%;
    flex-direction: row;
  }
}
