/*! CreamCSS-extra v{{ version }} | MIT License | https://github.com/CalinRadoni/CreamCSS */

cream-row {
  display: flex;
  width: 100%;
  flex-direction: column;
}

cream-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.bg-main   {
  background: var(--c-main);
  color: var(--c-back);
}
.bg-error {
  background: var(--c-back);
  color: var(--c-error);
}
.bg-code {
  background: var(--c-back-c1);
  color: var(--c-code);
}

.bg-back {
  background: var(--c-back);
  color: var(--c-on-back);
}
.bg-back-c1 {
  background: var(--c-back-c1);
  color: var(--c-on-back);
}
.bg-back-c2 {
  background: var(--c-back-c2);
  color: var(--c-on-back);
}

.bg-on-back {
  background: var(--c-on-back);
  color: var(--c-back);
}
.bg-on-back-dim {
  background: var(--c-on-back-dim);
  color: var(--c-back);
}
.bg-outline {
  background: var(--c-outline);
  color: var(--c-back);
}
.bg-outline-dim {
  background: var(--c-outline-dim);
  color: var(--c-on-back);
}

@media screen and (min-width: 34rem) {
  cream-row {
    display: flex;
    width: 100%;
    flex-direction: row;
  }
}
