/*! CreamCSS v{{ version }} | MIT License | https://github.com/CalinRadoni/CreamCSS */

:root {
  color-scheme: light dark;

  --c-main: var(--u-main-light, #007AFF);
  --c-err:  var(--u-err-light,  #FF3B30);
  --c-code: var(--u-code-light, #803c00); /* hsl(28, 100%, 25%)) */

  --c-back: #fff; /* hsl(0 0 100%) */
  --c-back-c1: #f2f2f2; /* hsl(0 0 95%) */
  --c-back-c2: #e5e5e5; /* hsl(0 0 90%) */

  --c-txt: #1a1a1a; /* hsl(0 0 10%) */
  --c-txt-dim: #595959; /* hsl(0 0 35%) */
  --c-outline: #808080; /* hsl(0 0 50%) */
  --c-outline-dim: #cccccc; /* hsl(0 0 80%) */

  font-size: 18px;

  --label-width: 12rem;
  --border-radius: 10px;
  --active-ind-size: 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-main: var(--u-main-dark, #0A84FF);
    --c-err:  var(--u-err-dark,  #FF453A);
    --c-code: var(--u-code-dark, #ffd6b3); /* hsl(28 100% 85%)) */

    --c-back: #191919; /* hsl(0 0 10%) */
    --c-back-c1: #262626; /* hsl(0 0 15%) */
    --c-back-c2: #333333; /* hsl(0 0 20%) */

    --c-txt: #e6e6e6; /* hsl(0 0 90%) */
    --c-txt-dim: #a6a6a6; /* hsl(0 0 65%) */
    --c-outline: #999999; /* hsl(0 0 60%) */
    --c-outline-dim: #4d4d4d; /* hsl(0 0 30%) */
  }
}

* {
  margin: 0;
}

html {
  line-height: 1.5;
}
body {
  background: var(--c-back);
  color: var(--c-txt);

  /* keep the footer at the bottom of the page */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  padding: 1rem;
  background: var(--c-back-c2);
}
footer {
  /* keep the footer at the bottom of the page */
  margin-top: auto;
}

main {
  margin: 0 1rem;
}

/* Correct the font size for `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.875rem; }
h6 { font-size: 0.75rem; }

h1, h2, h3, h4, h5, h6, section {
  margin-bottom: 0.5rem;
}

article {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto 0.5rem;
}

article header {
  background: transparent;
  padding: 0;
  margin-top: 1.5rem;
}

p, ul {
  margin: 1rem 0;
}

blockquote {
  margin: 1rem 1rem 1rem 2rem;
  padding: 0.5rem 1rem;
  background-color: var(--c-back-c1);
  border-radius: var(--border-radius);
}

a {
  display: inline-block;
  color: var(--c-main);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav a {
  margin-right: 1rem;
  color: var(--c-main);
  font-size: 1.1rem;
  border-bottom: var(--active-ind-size) solid var(--c-back-c1);
}
nav a:hover {
  text-decoration: none;
  border-bottom: var(--active-ind-size) solid var(--c-main);
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid var(--c-outline);
  margin: 0.5rem 1rem;
}

pre code {
  background-color: var(--c-back-c1);
  border: 1px solid var(--c-outline-dim);
  border-radius: var(--border-radius);
  display: block;
  overflow: auto;
  padding: 0.5rem 1rem;
  margin: 1rem;
}
code {
  font-size: 0.9em;
  padding: 0 2px;
  color: var(--c-code);
}

form {
  margin: 0 1rem;
}
form div {
  margin-bottom: 1rem;
}
form div:last-child {
  margin-bottom: 0;
}

fieldset {
  padding: 0;
  border: 0;
  margin-bottom: 1rem;
}

legend {
  color: var(--c-main);
  margin: 0.5rem 0;
  font-weight: bolder;
}

label {
  display: block;
  text-align: left;
  width: 100%;
  margin: 0 0 0.5rem;
}
input + label {
  display: inline;
  margin: 0 0 0 0.5rem;
  text-align: left;
}

input, textarea {
  display: block;
  background-color: var(--c-back-c2);

  outline: none !important;
  box-shadow: none;
  border: var(--active-ind-size) solid var(--c-outline-dim);
  border-radius: var(--border-radius);

  padding: 0.5rem;
}
input:hover, textarea:hover {
  border: var(--active-ind-size) solid var(--c-outline);
}
input:active, input:focus, input:focus-visible,
textarea:active, textarea:focus, textarea:focus-visible {
  border: var(--active-ind-size) solid var(--c-main);
}
input:read-only, textarea:read-only {
  background-color: var(--c-back-c1);
  border: var(--active-ind-size) solid var(--c-back-c1);
}
input:disabled, textarea:disabled {
  color: var(--c-txt-dim);
  background-color: var(--c-back-c1);
  border: var(--active-ind-size) solid var(--c-back-c1);

  /* Safari workaround */
  -webkit-text-fill-color: var(--c-txt-dim);
  opacity: 1;
}
input:invalid {
  border: var(--active-ind-size) solid var(--c-err);
}

form p {
  color: var(--c-txt-dim);
  font-size: 0.95rem;
}

/* all <p> elements that follow an <input> element, immediately or not, and both share the same parent */
input ~ p {
  display: block;
  font-size: 0.85rem;
  margin-top: 0.4rem;
}

::placeholder {
  color: var(--c-txt-dim);
  opacity: 0.9;
}

input[type=radio], input[type=checkbox] {
  margin: 0 0 0.5rem 1rem;
  width: 1.2rem;
  height: 1.2rem;
  display: inline;
  accent-color: var(--c-main);

}
input[type=checkbox] { margin-bottom: 1rem; }

button {
  color: var(--c-main);
  background-color: transparent;
  border-radius: var(--border-radius);
  border: var(--active-ind-size) solid var(--c-main);
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0 0;
}
button:last-of-type {
  margin-right: 0;
}
button:hover {
  color: var(--c-back);
  background-color: var(--c-main);
}

img {
  max-width: 100%;
  margin: 0 auto;
}

.col-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 34rem) {
  legend {
    margin-left: calc(var(--label-width) + 1rem);
  }

  label {
    display: inline-block;
    text-align: right;
    width: var(--label-width);
    margin: 0 1rem 0 0;
  }
  label[for=""] {
    display: block;
    margin-bottom: 0.5rem;
    width: calc(var(--label-width) + 4rem);
  }

  input, textarea {
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
  }
  form p {
    margin-left: calc(var(--label-width) + 1.2rem);
    max-width: 30rem;
  }
  input[type=radio], input[type=checkbox] {
    margin-left: calc(var(--label-width) + 1.25rem + 2px);
  }

  button:first-of-type {
    margin-left: calc(var(--label-width) + 1rem);
  }

  .col-row {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 80rem) {
  main {
    margin: 1rem auto;
    max-width: 80rem;
  }
  header, footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.c-req::after {
  content: " *";
  color: var(--c-main)
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  margin: 0; border: 0; padding: 0;
}

.c-main  { color: var(--c-main); }
.c-error { color: var(--c-err); }
.c-code  { color: var(--c-code); }
.c-txt   { color: var(--c-txt); }
.c-txtd  { color: var(--c-txt-dim); }

.bg-m { background: var(--c-main); }
.bg-0 { background: var(--c-back); }
.bg-1 { background: var(--c-back-c1); }
.bg-2 { background: var(--c-back-c2); }
